@import "colors";
@import "spacings";
@import "typography";
@import "base";

@mixin images($screenType) {
  @for $contor from 1 through 8 {
    &:nth-of-type(#{$contor}) {
      $image: nth($images, $contor);
      background-image: url("../images/#{$screenType}/image-#{$image}.jpg");
    }
  }
}

@mixin see-product-details {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  width: 150px;
  height: 45px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
