@import "colors";
@import "spacings";
@import "typography";
@import "base";
@import "mixins";

body {
  min-width: 300px;
  width: 100vw;
}

header {
  background-color: $black;
  border-bottom: 2px solid rgba(131, 131, 131, 0.2);
  border-width: 2px 20px;
  width: 100vw;
  height: $sectionSpacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $containerSpacing;
  margin: 0;
  z-index: 100;
  position: relative;

  .loginRegisterForm {
    height: 500px;
    width: 300px;
    max-width: 300px;
    background: transparent;
    border-radius: $marginSpacing;
    border: 1px solid $veryDarkGrey;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.2s ease;
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 5;
    transform: scale(0);
    position: absolute;
    top: 102%;
    left: 50%;

    .icon-close {
      position: absolute;
      right: 0;
      top: 0;
      width: 45px;
      height: 45px;
      background: $alpha;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $marginSpacing;
      z-index: 1;
      border-bottom-left-radius: $marginSpacing;
      cursor: pointer;
    }
    &.active-popup {
      transform: scale(1);
    }

    .form-box {
      // padding: 35px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      form {
        height: 100%;
        width: 100%;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: $alpha;
          text-align: center;
          font-size: $mediumSpacing;
          font-weight: 700;
        }

        .active-error {
          color: red;
          font-size: 18px;
          font-weight: 800;
          width: 100%;
        }

        .input-box {
          position: relative;
          height: 30px;
          width: 100%;
          border-bottom: 2px solid $darkGrey;
          // margin: 50px 0;

          label {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: $alpha;
            font-size: $baseSpacing;
            font-weight: 500;
            transition: 0.5s;
          }

          input {
            background: transparent;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: $baseSpacing;
            font-weight: 600;
            color: $alpha;
            padding: 0 35px 0 5px;
          }

          .icon {
            position: absolute;
            right: $smallSpacing;
            font-size: $marginSpacing;
            color: $alpha;
          }

          .eyeSlash {
            position: absolute;
            right: 35px;
            &:hover {
              cursor: pointer;
            }
          }

          .fa-eye {
            color: green;
            font-size: 21px;
          }

          &.success {
            .icon {
              color: green;
            }
          }
          &.error {
            color: red;
            border-bottom: 2px solid red;
            text-align: left;
            // margin-top: $smallSpacing;

            .icon {
              color: red;
            }
          }

          input:focus ~ label,
          input:valid ~ label {
            top: -5px;
          }
        }

        .remember-forgot {
          font-size: $baseSpacing;
          font-weight: 500;
          color: $alpha;
          display: flex;
          justify-content: space-between;
          width: 100%;

          label > input {
            margin-right: 5px;
            accent-color: $alpha;
          }

          a {
            color: $alpha;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;
          gap: $marginSpacing;
        }
        .btn {
          background: $alpha;
          width: 50%;
          height: 45px;
          border: none;
          outline: none;
          border-radius: $smallSpacing;
          font-size: $baseSpacing;
          font-weight: 500;
          letter-spacing: 2px;

          color: $white;
          cursor: pointer;
        }

        .login-register {
          text-align: center;
          color: $alpha;
          font-size: $baseSpacing;
          font-weight: 500;
          // margin: 25px 0 10px;
        }
      }

      &.login {
        transition: transform 0.2s ease;
        transform: translateX(0);
      }

      &.register {
        position: absolute;
        transform: translateX(400px);
        transition: none;
      }
    }

    p > a {
      font-weight: 600;
      color: $alpha;
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      height: 550px;

      .form-box.login {
        transition: none;
        transform: translateX(-400px);
      }
      .form-box.register {
        transition: transform 0.2s ease;
        transform: translateX(0);
      }
    }
  }

  .transform {
    translate: -50%;
  }

  .bar {
    display: block;
    width: $baseSpacing;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  }

  .hamburger {
    display: block;

    &:hover {
      cursor: pointer;
      .bar {
        background-color: $alpha;
      }
    }

    &.active .bar:nth-child(1) {
      transform: translateY($smallSpacing) rotate(45deg);
      background-color: $white;
    }
    &.active .bar:nth-child(2) {
      opacity: 0;
      transition: 1.5s ease-in-out;
      transform: translateX(20px);
      background-color: $alpha;
    }
    &.active .bar:nth-child(3) {
      transform: translateY(-$smallSpacing) rotate(-45deg);
      background-color: $white;
    }
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: $sectionSpacing;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $black;
    width: 100%;
    height: calc(100vh - $sectionSpacing);
    text-align: center;
    transition: 0.5s;
    z-index: 10;

    .nav-item {
      margin: 30px 0;

      .nav-link {
        transition: 0.5s ease;
        letter-spacing: 0.8px;
        position: relative;
        // padding: 0 10px;
        color: $grey;
        padding: 0;

        &::after {
          content: " ";
          background-color: $alpha;
          position: absolute;
          height: 3px;
          width: 100%;
          bottom: -5px;
          left: 0;
          transition: 0.3s;
          transform: scale(0, 1);
        }

        &:hover {
          cursor: pointer;
          color: $white;

          &::after {
            // width: 100%;
            transform: scale(1, 1);
          }
        }
      }
      .dropdown-content {
        display: none;
      }
    }
  }
  .nav-menu.active {
    left: 0;
  }

  .logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        width: 100%;
      }
    }
  }

  .helloUser {
    border: solid 2px $darkGrey;
    border-radius: $smallSpacing;
    background-color: $black;
    position: absolute;
    top: $sectionSpacing;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: $mediumSpacing;
    height: 150px;
    width: 250px;
    z-index: 2225;
    transition: all 0.3s ease-out;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      font-size: $marginSpacing;
      color: $white;
    }

    button {
      background-color: $alpha;
      border: none;
      outline: none;
      border-radius: $smallSpacing;
      color: $white;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      width: $xxlSpacing;
      height: 40px;
      width: 120px;
      letter-spacing: 2px;
      cursor: pointer;
      // text-transform: uppercase;

      &:hover {
        background-color: $alphahover;
        color: $white;
        transition: 0.5s ease;
      }
    }

    &.active-hello {
      transform: scale(1);
    }
  }

  .popupMessage {
    translate: -50%;
  }

  .logIn-Cart {
    display: flex;
    width: auto;
    height: 100%;
    gap: 12px;

    .btnLogin-popup {
      background: transparent;
      border: none;
      color: $white;
      font-size: 13px;

      &:hover {
        color: $alpha;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }

    .cart {
      background-color: transparent;
      border: none;
      color: $white;
      padding: 0;
      position: relative;
      font-size: 13px;

      &:hover {
        color: $alpha;
        cursor: pointer;
        transition: 0.5s ease;
      }

      .quantity {
        background-color: $alpha;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        position: absolute;
        top: 25px;
        left: 40%;
        padding: 8px 5px;
        font-size: $smallSpacing;
      }
    }
  }

  .productsInCart {
    position: fixed;
    top: $sectionSpacing;
    left: 50%;
    height: 550px;
    width: 300px;
    max-width: 300px;
    background-image: linear-gradient($darkGrey, $lightGrey);
    border-radius: $marginSpacing;
    // border: 1px solid $veryDarkGrey;
    // backdrop-filter: blur(150px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: height 0.2s ease;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 15;

    .top-cart {
      display: flex;
      background: transparent;
      width: 100%;
      height: $xxlSpacing;
      position: relative;
      padding: $baseSpacing 0;
      padding: 10px 15px;

      .icon-close-cart {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        background: $alpha;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $marginSpacing;
        z-index: 1;
        border-bottom-left-radius: $marginSpacing;
        cursor: pointer;
      }

      h2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        color: $alpha;
        font-size: $mediumSpacing;
        font-weight: 700;
      }

      .removeAllBtn {
        background: transparent;
        border: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.5px;
        position: absolute;
        top: 65%;
        right: 25px;
        text-transform: uppercase;

        &:hover {
          color: $alpha;
          cursor: pointer;
        }
      }
      .hide {
        display: none;
      }
    }

    .bottom-cart {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      overflow: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
      overscroll-behavior: contain;
      height: 100%;
      width: 100%;
      position: relative;
      display: inline;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      .empty {
        color: $alpha;
        font-size: $marginSpacing;
        font-weight: 700;
        text-align: center;
        line-height: 30px;
        letter-spacing: 3px;
        position: absolute;
        top: 30%;
        width: 100%;
        padding: 0 $baseSpacing;
        transform: translateY(-50%);
      }

      ul {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .buyItem {
        border-bottom: $veryDarkGrey 1px solid;
        width: 100%;
        padding: 0 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: $smallSpacing;

        img {
          width: 90px;
        }

        .namePrice {
          color: $black;
          font-size: 14px;
          font-weight: 700;
          width: 80%;
        }

        .counter {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          background-color: $lightGrey;
          border-radius: $smallSpacing;
          font-family: "Nunito Sans", sans-serif;
          font-size: $baseSpacing;
          font-weight: 700;
          height: $largeSpacing;
          width: 70%;
          letter-spacing: 2px;

          span {
            border-right: 2px solid rgba(0, 0, 0, 0.2);
            border-left: 2px solid rgba(0, 0, 0, 0.2);
            padding: 0 $smallSpacing;
            pointer-events: none;
          }

          .minus,
          .plus {
            border: none;
            padding: $smallSpacing;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    &.active-popup {
      transform: scale(1);
    }

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $veryDarkGrey;
      font-weight: 700;
      font-size: $marginSpacing;
      min-width: 80%;
      min-height: 35px;
      margin-top: $baseSpacing;
    }

    .btn {
      background: $alpha;
      min-width: 80%;
      min-height: 45px;
      border: none;
      outline: none;
      border-radius: $smallSpacing;
      font-size: $baseSpacing;
      font-weight: 500;
      color: $white;
      margin: $baseSpacing 0;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .hidden {
      display: none;
    }
  }

  .transform {
    translate: -50%;
  }
}

.hero {
  background-image: url("../images/bg-image.png");
  background-position: top;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;

  .slogan-section {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%);

    .title {
      h1 {
        color: $white;
        font-family: "Montagu Slab", serif;
        font-weight: 500;
        font-size: $sectionSpacing;
        margin-top: -25px;
        margin-bottom: -25px;
      }

      h2 {
        color: $white;
        font-family: "Nunito Sans", sans-serif;
        font-size: 35px;
        letter-spacing: 7px;
        text-transform: lowercase;
      }
    }

    h3,
    h4 {
      color: $darkGrey;
      font-size: 20px;
      letter-spacing: 2.5px;
    }
  }

  .see-product {
    background-color: $alpha;
    border: none;
    outline: none;
    border-radius: $smallSpacing;
    color: $white;
    @include see-product-details;

    &:hover {
      background-color: $alphahover;
      color: $white;
      transition: 0.5s ease;
    }
  }
}

.carousel {
  border-radius: $smallSpacing;
  overflow: hidden;
  width: calc(100% - $containerSpacing);
  height: 400px;
  position: relative;
  margin-top: $sectionSpacing;

  .carouselItem,
  .carouselItemHiden {
    display: none;
  }

  .carouselItemVisible {
    display: block;
    left: 0;
    // animation: slider 2s;
    animation: fadeVisibility 0.8s;

    .slide-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 1;
      height: 100%;

      button {
        background-color: $alpha;
        border: none;
        outline: none;
        border-radius: $smallSpacing;
        color: $white;
        @include see-product-details;
        font-size: 13px;
        width: 150px;
        height: 45px;

        &:hover {
          background-color: $alphahover;
          color: $white;
          transition: 0.5s ease;
        }
      }
    }

    .slide1 {
      background-image: url(/images/carousel-img-mobile/carousel-img1.jpg);
      background-size: cover;
      height: 400px;
      // position: relative;

      .infoSlide1 {
        height: 100px;
        width: 350px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: $lightGrey;
          font-size: 40px;
        }

        h4 {
          color: $lightGrey;
          font-size: 25px;
        }

        p {
          position: absolute;
          top: 70px;
          right: 80px;
          width: 400px;
          height: 350px;
          display: none;
        }
        button {
          position: absolute;
          top: 300px;
        }
      }
    }
    .slide2 {
      background-image: url(/images/carousel-img-mobile/carousel-img2.jpg);
      background-size: cover;
      height: 400px;
      // position: relative;

      .infoSlide2 {
        height: 140px;
        width: auto;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: $lightGrey;
          font-size: 25px;
        }

        p {
          width: 350px;
          height: auto;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    .slide3 {
      background-image: url(/images/carousel-img-mobile/carousel-img3.jpg);
      background-size: cover;
      height: 400px;
      // position: relative;

      .infoSlide3 {
        height: 200px;
        width: 220px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
          color: $lightGrey;
          font-size: 30px;
        }
        p {
          width: 350px;
          height: auto;
          font-size: 10px;
          line-height: 20px;
          display: none;
        }
      }
    }
    .slide4 {
      background-image: url(/images/carousel-img-mobile/carousel-img4.jpg);
      background-size: cover;
      height: 400px;
      // position: relative;
      .infoSlide4 {
        height: 350px;
        width: 330px;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

        h2 {
          color: $black;
          font-size: 30px;
        }
        h4 {
          color: $black;
          font-size: 25px;
          width: 320px;
          display: none;
        }
      }
    }
  }

  .carousel-action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    button {
      // font-size: 40px;
      background: transparent;
      border: none;
      color: $grey;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      i {
        font-size: 30px;
        margin: 0 10px;
        background-color: $alpha;
        border-radius: 50%;
      }
    }
  }

  // @keyframes slider {
  //   0% {
  //     left: 0;
  //   }
  //   20% {
  //     left: 0;
  //   }
  //   25% {
  //     left: -100%;
  //   }
  //   45% {
  //     left: -100%;
  //   }
  //   50% {
  //     left: -200%;
  //   }
  //   70% {
  //     left: -200%;
  //   }
  //   75% {
  //     left: -300%;
  //   }
  //   95% {
  //     left: -300%;
  //   }
  //   100% {
  //     left: -400%;
  //   }
  // }

  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }
}

.products-categ {
  width: 100%;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $xlSpacing;
    padding-top: $sectionSpacing;
    margin: 0;

    h3 {
      color: $black;
      font-family: "Nunito Sans", sans-serif;
      font-size: $baseSpacing;
      font-weight: bolder;
      margin-bottom: $marginSpacing;
    }

    .cameraBodies,
    .cameraLenses,
    .accessories {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      // row-gap: $baseSpacing;
      text-align: center;
      width: 100%;
      height: 180px;
      position: relative;
      background-color: $lightGrey;
      border-radius: $smallSpacing;

      .product-img {
        width: 130px;
        background-color: transparent;
        position: absolute;
        top: -30%;
        filter: drop-shadow(-1px 24px 10px rgba(0, 0, 0, 0.7));
      }

      .shop {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $darkGrey;
        display: flex;
        justify-content: center;
        align-items: center;

        // margin: $baseSpacing 0;
        margin-bottom: $marginSpacing;

        .arrow {
          color: $alpha;
          font-size: 12px;
          font-weight: 500;
          padding: 0 $smallSpacing;
        }

        &:hover {
          color: $alpha;
          cursor: pointer;
          transition: 0.5s ease;
        }
      }
    }
  }
}

.product-GM-lens {
  background-color: $alpha;
  border-radius: $smallSpacing;
  background-image: url(../images/product-GM-lens.png);
  background-position: top;
  background-position-y: 7%;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  height: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $sectionSpacing;
  position: relative;

  .bigCircle {
    position: absolute;
    top: -4%;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.3;
    overflow: hidden;
  }

  .smallCircle {
    position: absolute;
    top: 3%;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.3;
    overflow: hidden;
  }

  .container {
    height: 55%;
    position: absolute;
    top: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 $baseSpacing;

    h2 {
      color: $white;
      font-family: "Montagu Slab", serif;
      font-weight: 500;
      font-size: $mediumSpacing + $smallSpacing;
    }

    p {
      color: $white;
    }

    .see-product {
      background-color: $black;
      border: none;
      outline: none;
      border-radius: $smallSpacing;
      color: $white;
      @include see-product-details;

      &:hover {
        background-color: $darkGrey;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.product-SSM-lens {
  background-color: $grey;
  height: 400px;
  border-radius: $smallSpacing;
  text-align: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $marginSpacing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 250px;
  }

  .container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: $marginSpacing;

    h2 {
      color: $black;
      font-family: "Montagu Slab", serif;
      font-size: $mediumSpacing;
    }
    .see-product {
      background-color: transparent;
      border: 2px solid $black;
      border-radius: $smallSpacing;
      color: $black;
      @include see-product-details;

      &:hover {
        background-color: $black;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.product-flash {
  text-align: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $marginSpacing;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flash-img {
    background-image: url(../images/product-flash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $smallSpacing;
    height: $xxxlSpacing;
  }

  .container {
    background-color: $lightGrey;
    border-radius: $smallSpacing;
    height: $xxxlSpacing;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2 {
      color: $black;
      font-family: "Montagu Slab", serif;
      font-size: $mediumSpacing;
    }

    .see-product {
      background-color: transparent;
      border: 2px solid $black;
      border-radius: $smallSpacing;
      color: $black;
      @include see-product-details;

      &:hover {
        background-color: $black;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.about-alphacamera {
  height: 800px;
  margin-top: $sectionSpacing;
  padding-bottom: $largeSpacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-img {
    background-image: url(../images/about-alpha1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $smallSpacing;
    height: 40%;
    width: calc(100% - (2 * $containerSpacing));
  }

  .container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: $black;
      font-family: "Nunito Sans", sans-serif;
      font-size: $fontSpacing;
      margin-top: $mediumSpacing;
    }

    p {
      color: $veryDarkGrey;
      margin: 0;
      padding: 0;
    }
  }
}

footer {
  background-color: $black;
  height: 100vh;
  position: relative;

  .logo {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 200px;
      display: flex;
      align-items: center;

      .logo-img {
        width: 100%;
      }
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $baseSpacing;
    position: relative;
    padding: $largeSpacing $containerSpacing;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $mediumSpacing;
    text-transform: uppercase;
  }

  .nav-link {
    transition: 0.5s ease;

    &:hover {
      color: $alpha;
    }
  }

  .social {
    width: 150px;
    display: flex;
    justify-content: space-between;

    .fa-brands:hover {
      transition: 1s ease;
      color: $alpha;
    }
  }

  .toTopBtn {
    background-color: $black;
    display: flex;
    align-self: flex-end;
  }
}
