@import "colors";
@import "spacings";
@import "typography";
@import "base";
@import "mixins";

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .container {
    padding: $sectionSpacing $largeSpacing 0;
  }

  header {
    padding: 0 $largeSpacing;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    nav {
      .nav-menu {
        .nav-item {
          overflow: hidden;
          display: flex;
          align-items: center;
          margin: 50px;
          font-size: 20px;
        }

        .dropdown-content {
          display: none;
        }
      }
    }

    .loginRegisterForm {
      top: 100%;
      left: 65%;
      height: 600px;
      width: 400px;
      max-width: 600px;

      .form-box {
        form {
          padding: 60px 40px;
        }
      }

      &.active {
        height: 650px;
      }
    }

    .logIn-Cart {
      display: flex;
      width: auto;
      height: 100%;
      gap: $marginSpacing;

      .btnLogin-popup {
        color: $white;
        margin: 0;
        height: 100%;

        &:hover {
          color: $alpha;
          cursor: pointer;
          transition: 0.5s ease;
        }
      }
      .cart {
        display: flex;
        align-items: center;

        .quantity {
          top: 25px;
        }
      }
    }

    .bar {
      width: $marginSpacing;
    }

    .productsInCart {
      top: 100px;
      left: 70%;
      height: 600px;
      width: 400px;
      max-width: 600px;
    }

    .logo {
      width: 100%;
      height: auto;
      text-align: center;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: $largeSpacing;

      a {
        width: 250px;
        .logo-img {
          width: 100%;
        }
      }
    }
    .logIn-Cart {
      .btnLogin-popup {
        // margin: $mediumSpacing $marginSpacing;
        font-size: 16px;
      }
      .cart {
        font-size: 16px;
      }
    }
    .helloUser {
      border: solid 2px $darkGrey;
      border-radius: $smallSpacing;
      background-color: $black;
      position: absolute;
      top: 60px;
      right: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: $mediumSpacing;
      height: 150px;
      width: 250px;
      z-index: 2225;
      transition: all 0.3s ease-out;
      transform: scale(0);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p {
        font-size: $marginSpacing;
        color: $white;
      }

      button {
        background-color: $alpha;
        border: none;
        outline: none;
        border-radius: $smallSpacing;
        color: $white;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        width: $xxlSpacing;
        height: 40px;
        width: 120px;
        letter-spacing: 2px;
        cursor: pointer;
        // text-transform: uppercase;

        &:hover {
          background-color: $alphahover;
          color: $white;
          transition: 0.5s ease;
        }
      }

      &.active-hello {
        transform: scale(1);
      }
    }
  }

  // First Page Hero
  .hero {
    background-image: url("../images/tablets-img/bg-image.png");
    height: 100vh;
    // background-position: center;

    .slogan-section {
      height: 500px;
      width: 700px;
      top: 40%;

      .title {
        h1 {
          font-size: 170px;
        }
        h2 {
          font-size: 70px;
          margin-top: -30px;
          // margin-bottom: -35px;
        }
      }

      h3,
      h4 {
        color: $darkGrey;
        font-size: 35px;
        letter-spacing: 1px;
      }
    }

    .see-product {
      width: 220px;
      height: 60px;
      font-size: 20px;
    }
  }

  .carousel {
    height: 700px;
    width: calc(100% - 2 * $largeSpacing);
    .carouselItemVisible {
      .slide1 {
        background-image: url(/images/carousel-img-tablet/carousel-img1.jpg);
        height: 700px;
        .infoSlide1 {
          height: 120px;
          width: 100%;
          top: 20px;
          h2 {
            font-size: 60px;
          }
          h4 {
            font-size: 25px;
          }
          button {
            top: 570px;
            width: 220px;
            height: 60px;
            font-size: 20px;
          }
        }
      }
      .slide2 {
        background-image: url(/images/carousel-img-tablet/carousel-img2.jpg);
        height: 700px;

        .infoSlide2 {
          height: 250px;
          width: 100%;

          p {
            font-size: 22px;
            width: 100%;
            height: 120px;
            line-height: 35px;
            padding: 0 20px;
          }
          button {
            top: 570px;
            width: 220px;
            height: 60px;
            font-size: 20px;
            margin-bottom: 25px;
          }
        }
      }
      .slide3 {
        background-image: url(/images/carousel-img-tablet/carousel-img3.jpg);
        height: 700px;

        .infoSlide3 {
          height: 330px;
          width: 350px;
          left: 50px;
          top: 55%;

          h2 {
            font-size: 50px;
            width: 350px;
          }
          p {
            font-size: 25px;
            width: 100%;
            height: 120px;
            line-height: 30px;
            padding: 0 20px;
          }
          button {
            top: 570px;
            width: 220px;
            height: 60px;
            font-size: 20px;
          }
        }
      }
      .slide4 {
        background-image: url(/images/carousel-img-tablet/carousel-img4.jpg);
        height: 700px;

        .infoSlide4 {
          height: 630px;
          width: 100%;
          padding-top: 10px;
          top: 20px;
          h2 {
            font-size: 60px;
          }
          button {
            top: 570px;
            width: 220px;
            height: 60px;
            font-size: 20px;
          }
        }
      }
    }
    .carousel-action {
      button {
        i {
          font-size: 50px;
        }
      }
    }
  }

  .product-GM-lens {
    background-size: 300px 300px;
    width: calc(100% - 2 * $largeSpacing);

    .extraBigCircle {
      position: absolute;
      top: -27%;
      width: 750px;
      height: 750px;
      border: 1px solid white;
      border-radius: 50%;
      opacity: 0.3;
      overflow: hidden;
    }

    .bigCircle {
      top: -15%;
      width: 550px;
      height: 550px;
    }

    .smallCircle {
      top: -8%;
      width: 450px;
      height: 450px;
    }

    .container {
      width: 100%;

      h2 {
        font-size: $largeSpacing + $smallSpacing;
        width: 80%;
      }

      p {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
      }

      .see-product {
        width: 220px;
        height: 60px;
        font-size: 20px;
      }
    }
  }
  .product-SSM-lens {
    // background-image: url(/images/tablets-img/product-SSM-lens.png);
    // background-position: left;
    // background-size: contain;
    height: 300px;
    width: calc(100% - 2 * $largeSpacing);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }

    .container {
      height: 100%;
      width: 50%;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      position: static;

      h2 {
        font-size: $largeSpacing;
      }

      .see-product {
        width: 220px;
        height: 60px;
        font-size: 20px;
      }
    }
  }
  .product-flash {
    display: flex;
    flex-direction: row;
    width: calc(100% - 2 * $largeSpacing);
    height: 300px;
    column-gap: $marginSpacing;

    .container {
      height: 100%;
      width: 50%;

      h2 {
        font-size: $largeSpacing;
      }
      .see-product {
        width: 220px;
        height: 60px;
        font-size: 20px;
      }
    }

    .flash-img {
      background-image: url(../images/tablets-img/product-flash.jpg);
      height: 100%;
      width: 50%;
    }
  }

  // Bodies,Lenses,Flash Category

  .category {
    height: 250px;

    h2 {
      font-size: $mediumSpacing;
    }
  }

  .camera-bodies,
  .flash,
  .lenses {
    display: flex;
    justify-content: center;
    align-self: center;
    .container {
      padding: 0;
      width: calc(100% - 2 * $largeSpacing);

      .card {
        // margin-top: $sectionSpacing;
        height: 700px;
        width: 100%;
        margin-bottom: $sectionSpacing;
        margin-top: 0;

        .productImg {
          width: 100%;
          height: 400px;

          img {
            width: 400px;
          }
        }

        .info {
          height: 250px;
          justify-content: space-evenly;

          h2 {
            font-size: $largeSpacing;
          }
        }
      }
    }
  }

  // Product

  .container {
    padding-top: 0;
  }

  .product {
    display: flex;
    flex-direction: row;
    column-gap: $xlSpacing;
    height: 500px;
    width: 100%;

    .product-img {
      width: 100%;
      height: 100%;
      img {
        width: 200;
      }
    }

    .info {
      height: 100%;
      justify-content: space-evenly;
      padding: $baseSpacing 0;

      h2 {
        font-size: $largeSpacing;
      }

      h3 {
        margin-top: 0;
      }

      .addProductToCart {
        justify-content: flex-start;
      }
    }
  }

  .product-images {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    row-gap: 0;
    grid-gap: $marginSpacing;

    .img1 {
      height: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .img2 {
      height: 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .img3 {
      height: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
  .also {
    width: 100%;

    h2 {
      font-size: $largeSpacing;
    }
    .container {
      display: flex;
      flex-direction: row;
      column-gap: $baseSpacing;

      height: 500px;
      width: 100%;
      // column-gap: $baseSpacing;

      .alsoProduct {
        height: 480px;
        // width: 100%;

        h2 {
          font-size: $fontSpacing;
        }
        .prod1-img {
          height: 300px;
          width: 100%;
          .product1-img {
            width: 100%;
          }
        }
        .prod2-img {
          height: 300px;
          width: 100%;

          .product2-img {
            width: 100%;
          }
        }
        .prod3-img {
          height: 300px;
          width: 100%;

          .product3-img {
            width: 100%;
          }
        }

        .see-product {
          width: 100%;
        }
      }
    }
  }

  // Products
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $mediumSpacing;

    .card {
      height: 700px;
      max-height: 900px;
      // min-width: 200px;
      padding: $smallSpacing;
      position: relative;
      text-align: center;
      margin: 0;

      .info {
        height: 400px;

        p {
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  // Product Category and About
  .products-categ {
    width: 100%;

    .container {
      display: flex;
      flex-direction: row;
      column-gap: $baseSpacing;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      padding: $xxlSpacing $largeSpacing 0;

      .cameraBodies,
      .cameraLenses,
      .accessories {
        .product-img {
          width: 130px;
        }
        z-index: 1;
      }
    }
  }
  .about-alphacamera {
    width: calc(100% - 2 * $largeSpacing);

    .about-img {
      background-image: url(../images/tablets-img/about-alpha1.jpg);
      height: 50%;
      width: 100%;
    }
    .container {
      height: 380px;
      width: 100%;
      margin: 0;
      padding: 0 $xlSpacing;

      h3 {
        font-size: $mediumSpacing + $smallSpacing;
      }
    }
  }

  // Checkout

  .checkOut {
    h2 {
      font-size: $largeSpacing;
    }

    .billing-details {
      display: grid;
      column-gap: $marginSpacing;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      h4 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: flex-end;
      }
    }
    .shipping-info {
      display: grid;
      column-gap: $marginSpacing;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      h4 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: flex-end;
      }
    }
    .payment-details {
      height: 450px;
      display: grid;
      column-gap: $marginSpacing;

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);

      .payment-method {
        grid-area: 2 /3 /3/1;
      }
      h4 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  footer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: calc(100% - 2 * $largeSpacing);
      padding: $xlSpacing 0;

      .logo {
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
          width: 250px;
          .logo-img {
            width: 100%;
          }
        }
      }

      nav {
        .nav-menu {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }

      p {
        text-align: left;
        .reserved {
          display: inline-block;
        }
      }

      .social {
        position: absolute;
        right: 0;
        bottom: 110px;
      }
    }
  }
}
